# How to Use Jupyter Notebooks

A [Jupyter notebook](https://jupyter.readthedocs.io/en/latest/install.html#jupyter-notebook-interface) is a document that can combine live programming code, text, images, and pretty displays of data all in the same place. This combination makes Jupyter notebooks clutch for exploring data as well as for learning and teaching.

A Jupyter notebook has a special *.ipynb* file extension and can only be opened if you have the application JupyterLab or Jupyter Notebook installed and running. We are running those environments in VS Code, since we installed the app extensions in the [first unit](./../01-Installation-Workflow/00-Install-Python-and-VSCode.ipynb).

## 1. Some Nice Features

This document is a Jupyter notebook! Let's quickly demonstrate some of the features that make Jupyter notebooks useful.

### 1.1 Displaying data

We can display and explore data in a readable and aesthetically-pleasing way.

For example, here's a snippet of a CSV (Comma Separated Values) file with some data about films and character dialogue (sourced by [The Pudding](https://github.com/matthewfdaniels/scripts/). We'll be working with this data in a later lesson.

In [2]:
import pandas as pd
movie_data = pd.read_csv('./../data/Pudding/Pudding-Film-Dialogue-Clean.csv')
movie_data.tail(5)

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
23042,Beauty and the Beast,1991,Lumiere,man,1063,0.104636,56.0,452.0,9254
23043,Beauty and the Beast,1991,Maurice,man,1107,0.108967,71.0,452.0,9254
23044,Beauty and the Beast,1991,Monsieur D'Arqu,man,114,0.011222,58.0,452.0,9254
23045,Beauty and the Beast,1991,Mrs. Potts,woman,564,0.055517,66.0,452.0,9254
23046,Beauty and the Beast,1991,Wardrobe,woman,121,0.011911,54.0,452.0,9254

### 1.2 Creating Data Visualizations

We can create visualizations based on the above data in the very same document.

In one line of code, we can create a plot of *The Pudding* films by year of their release.

In [13]:

movie_data.groupby('release_year')['title'].count().plot(title='Films By Year')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

### 1.3 Writing with text, images, links, and code

In notebooks, we write out and think through our data process by combining text, images, links, and code—***writing and digital media***, yo!

We'll learn how to combine these media in the section [Code vs Markdown Cells](code-vs-markdown-cells) below. But, first, let's set up that discussion by looking at it in action with some data about *Beauty and the Beast*.

In [8]:
movie_data[movie_data['title'] =='Beauty and the Beast']

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
23036,Beauty and the Beast,1991,Beast,man,1162,0.114381,35.0,452.0,9254
23037,Beauty and the Beast,1991,Belle,woman,2183,0.214883,35.0,452.0,9254
23038,Beauty and the Beast,1991,Chip,man,446,0.043902,9.0,452.0,9254
23039,Beauty and the Beast,1991,Cogsworth,man,1658,0.163205,49.0,452.0,9254
23040,Beauty and the Beast,1991,Gaston,man,1326,0.130525,38.0,452.0,9254
23041,Beauty and the Beast,1991,Lefou,man,415,0.040850,NaN,452.0,9254
23042,Beauty and the Beast,1991,Lumiere,man,1063,0.104636,56.0,452.0,9254
23043,Beauty and the Beast,1991,Maurice,man,1107,0.108967,71.0,452.0,9254
23044,Beauty and the Beast,1991,Monsieur D'Arqu,man,114,0.011222,58.0,452.0,9254
23045,Beauty and the Beast,1991,Mrs. Potts,woman,564,0.055517,66.0,452.0,9254
23046,Beauty and the Beast,1991,Wardrobe,woman,121,0.011911,54.0,452.0,9254

Now here's an image of *Beauty and the Beast* characters.

![Beauty and the Beast characters image](https://upload.wikimedia.org/wikipedia/en/b/b6/BeautyBeastCharacters.jpg)

## 2. Opening and Using a Jupyter Notebook

Well, you're here, right?! :-)

There are lots of ways to open a Jupyter notebook file (.ipynb). In this class, we are using VS Code, which uses the main Jupyter extension. I have found that this method, which is quite new, is also the easiest way for beginners to get started.

Thankfully, that makes this section much shorter than other methods. But, there are a few notable steps.

When you open a `.ipynb` file in VS Code, it will simply open like any other file. But, to start editing and using it, be aware of that NB files feature 2 types of cells: (1) *code* cells to work with the data, and (2) *markdown* cells to document your steps and ideas.

How
    1. Code cells can be run by clicking the play button ▶️ on the left side of the cell.
    2. Markdown cells are run by clicking on the checkmark &#x2713; positioned at the top right side of the cell.
        * To edit a markdown cell, click on the pencil &#9998; button that appears in the same position of the checkmark &#x2713;

### 2.1 Interacting with code cells

Code cells can be run by clicking the play button ▶️ on the left side of the cell.

### 2.2 Interacting with markdown cells

Markdown cells are run by clicking on the checkmark &#x2713; positioned at the top right side of the cell. 

To edit a markdown cell, click on the pencil &#9998; button that appears in the same position of the checkmark &#x2713;.


#### What's Markdown?

Markdown is a very very simple type of markup language. Here's a primer on some common syntax to markup your text:

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th>Element</th>
      <th>Markdown Syntax</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="/basic-syntax/#headings">Heading</a></td>
      <td><code># H1<br>
          ## H2<br>
          ### H3</code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#bold">Bold</a></td>
      <td><code>**bold text**</code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#italic">Italic</a></td>
      <td><code>*italicized text*</code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#blockquotes-1">Blockquote</a></td>
      <td><code>&gt; blockquote</code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#ordered-lists">Ordered List</a></td>
      <td><code>
        1. First item<br>
        2. Second item<br>
        3. Third item<br>
      </code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#unordered-lists">Unordered List</a></td>
      <td>
        <code>
          - First item<br>
          - Second item<br>
          - Third item<br>
        </code>
      </td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#links">Link</a></td>
      <td><code>[title](https://www.example.com)</code></td>
    </tr>
    <tr>
      <td><a href="/basic-syntax/#images-1">Image</a></td>
      <td><code>![alt text](image.jpg)</code></td>
    </tr>
  </tbody>
</table>

Some resources:

- [Extended Markdown syntax "cheatsheet"](https://www.markdownguide.org/cheat-sheet/#extended-syntax)
- [Editing Markdown in VS Code](https://code.visualstudio.com/docs/languages/markdown#_editing-markdown).

## 3. How to Save Your Notebook

Simple. 

If you want to save your notebook, press 

- **Mac**: `Command ⌘` + `S`
- **Windows**: `Windows Key` + `S`